{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Delete Task</h2>
      <div class="text-center">
        <form method="POST" class="form-inline justify-content-center">
          {{form.hidden_tag()}}
          {{form.id.label(class='sr-only')}}
          {{form.id(class='form-control mb-2 mr-sm-2', placeholder='Task ID')}}
          {{form.submit(class='btn btn-danger mb-2')}}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}